#chatDiv{
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: 0 auto 100px;
}

#buttons{
    width: 100%;
    height: 285px;
    background-color: white;
}

#chatList{
    display: flex;
    width: 100%;
    height: 600px;

}

#list{
    width: 40%;
    height: 600px;
    background-color: #9d9d9d;
}

#chat{
    width: 60%;
    height: 600px;
}

#chatRecord{
    width: 100%;
    height: 500px;
    background-color: #212121;
}
#chatFooter{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #dddddd;
}
#chatInput{
    width: 200px;
    height: 95px;
}
#chatFooter #button{
    height: 100%;
}
#time{
    margin: auto;
}

.submit-button-container {
    width: 100px;
}
.button-button-container {
    width: 190px;
}
.button-button-container #button{
    margin: 5px;
}
.friend-button-container {
    width: 100%;
    margin-bottom: 3px;
}
.button-container {
    text-align: center;
}
.button-container #button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 100%;
    border: 2px solid #e3e3e3;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.button-container #button span {
    position: relative;
    z-index: 1;
    color: #ddd;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.button-container #button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #ed2553;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.button-container #button:hover, .button-container #button:active, .button-container #button:focus {
    border-color: #ed2553;
}
.button-container #button:hover span, .button-container #button:active span, .button-container #button:focus span {
    color: #ed2553;
}
.button-container #button:active span, .button-container #button:focus span {
    color: #ffffff;
}
.button-container #button:active:before, .button-container #button:focus:before {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(10);
}

.scrollable{
    width: 100%;
    height: 100%;
    overflow: auto;

}

.message{
    display: table;
    background-color: #dddddd;
    border-radius: 2px;
    border: solid #dddddd;
    margin: 3px;
}
#timer{
    width: 50px;
}